/*
* CD44 Design System - contextual variables for Questions de Parents
*/

// ----------------
// ---- COLORS ----
// ----------------

$ds44-contextual-color : #fed037 !default;
$ds44-contextual-hover : darken($ds44-contextual-color, 10%) !default;
$ds44-font-family-base      : "Poppins", sans-serif;
$ds44-font-family-headings  : "Poppins", sans-serif;

.ds44-btnIcoText--maxi {
    font-size: 1em!important;
    font-weight: $weight-semibold!important
}

.ds44-collapser_button{
  font-size: 1.5em!important;
}


@media (max-width: $ds44-small) {
  .ds44-collapser_button{
    font-size: 1.25em!important;
  }
}

.ds44-card .ds44-card__title {
  font-size: 2.2rem!important;
}
