/*
* CD44 Design System - contextual variables for Abbaye de blanche Couronne
*/

// ----------------
// ---- COLORS ----
// ----------------

$ds44-contextual-color : #00b3bc !default;
$ds44-contextual-hover : darken($ds44-contextual-color, 10%) !default;
$ds44-font-family-base      : Helvetica, Arial, sans-serif;  
$ds44-font-family-headings  : "HansomFYW05", sans-serif;
$weight-medium  : 700;
$weight-regular : 700;