/*
* CD44 Design System - contextual variables for Loire Atlantique
* NOTE SGU 15/05/2025 : on surcharge en attendant un changmeent global de police (Poppins) et de tailles;
*/

// ----------------
// ---- COLORS ----
// ----------------

$ds44-contextual-color : #99E6D1 !default;
$ds44-contextual-hover : lighten($ds44-contextual-color, 10%) !default;

$ds44-font-sizes: (
  base: (
    mobile  : $ds44-font-size-base,  // 16px
    tablet  : $ds44-font-size-base,  // 16px
    desktop : $ds44-font-size-base   // 16px
  ),
  h1: (
    mobile  : 2.125em,  // 34px
    tablet  : 3em,      // 48px
    desktop : 3.75em    // 60px
  ),
  h2: (
    mobile  : 1.75em,   // 28px
    tablet  : 2em,      // 32px
    desktop : 2.375em   // 38px
  ),
  h3: (
    mobile  : 1.3125em, // 21px
    tablet  : 1.5em,    // 24px
    desktop : 1.75em    // 28px
  ),
  h4: (
    mobile  : 1.1875em, // 19px
    tablet  : 1.375em,  // 22px
    desktop : 1.5em     // 24px
  ),
  h5: (
    mobile  : 1.125em,  // 18px
    desktop : 1.25em    // 20px
  ),
  h6: (
    mobile  : 1.0625em, // 17px
    desktop : 1.0625em  // 17px
  ),
  smallText: (
    mobile  : .875em,   // 14px
    desktop : .875em    // 14px
  ),
  tinyText: (
    mobile  : .5625em,  // 9px
    desktop : .5625em   // 9px
  ),
  bodySize: (
    mobile  : 1em,      // 16px
    desktop : 1em       // 16px
  ),
  bigText: (
    mobile  : 1.5em,    // 24px
    desktop : 1.5em     // 24px
  ),
  xxlText: (
    mobile  : 2.6875em, // 43px
    desktop : 3.5em     // 56px
  ),
  chapoStyle: (
    mobile  : 1.0625em, // 17px
    desktop : 1.0625em  // 17px
  ),
  menuHeaders: (
    mobile  : 1.625em,  // 26px
    desktop : 2.375em   // 38px
  ),
  menuLinks: (
    mobile  : 1.125em,  // 18px
    desktop : 1.3125em  // 21px
  ),
  menuBackLinks: (
    mobile  : 1.3125em, // 21px
    desktop : 1.75em    // 28px
  ),
  collapserLinks: (
    mobile  : 1.125em,  // 18px
    desktop : 1.125em   // 18px
  ),
  button: (
    mobile  : 1em,      // 16px
    desktop : 1.0625em  // 17px
  ),
  largeButton: (
    mobile  : 1em,      // 16px
    desktop : 1.0625em  // 17px
  ),
  pushTitle : (
    mobile  : 1.75em,   // 28px
    desktop : 1.75em    // 28px
  ),
  quotes: (
    mobile  : 2.375em,  // 38px
    desktop : 2.375em   // 38px
  ),
  errMsg: (
    mobile  : .875em,   // 14px
    desktop : .875em    // 14px
  ),
  formListElem: (
    mobile  : 1.125em,  // 18px
    desktop : 1.125em   // 18px
  ),
  input: (
    mobile  : 1.6rem,   // 16px
    desktop : 1.6rem    // 16px
  ),
  smallTitle: (
    mobile  : 1.6rem,   // 16px
    desktop : 1.6rem    // 16px
  )
);
