// Card common styles

.ds44-card {

    margin: 50px; // JVI REM : à supprimer une fois le composant terminé

    transition-duration: $ds44-timing-standard;
    transition-property: box-shadow, transform;
    transition-timing-function: ease;

    &:focus,
    &:hover,
    &:active { // JVI REM :il manque la gestion de la flèche qui doit apparaître au survol (en attente de la webfont de Julien R.)
        box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
        transform: scale(1.01); 
    }

}
.ds44-card--verticalPicture {
    background-color: $ds44-lightgray;
}
.ds44-card__section {
    padding: 5px 1.4rem;
    font-size: 1.3rem; // 13px
}
.ds44-card__globalLink { 

    text-decoration: none;
    color: #000000;
    
    &:focus,
    &:hover,
    &:active {
        text-decoration: none;
    }
}
.ds44-card__title {
    margin: $headings-margin-bottom 0;
    padding: 0;
}

// Vertical card with picture specific styles


