/*
/*
* CD44 Design System - Headers
*/

.ds44-logoContainer {
    text-decoration: none;
    margin: 0;

    img {
        height: 62px;
    }
}

.ds44-logo {
    display: block;
}

.ds44-titreLogo {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: bold;
    margin-left: 2rem;
}

/* Skip links */


.ds44-skiplinks {
    display: inline;
}

.ds44-skiplinks--link {
    position: absolute;
    top: -50rem;
    display: block;
    border: 2px solid $ds44-contextual-color;
    border-top: none;
    border-radius: 0 0 $ds44-border-radius;
    padding: $ds44-padding-medium $ds44-padding-box;
    transition: box-shadow $ds44-timing-standard ease;
    background: #fff;
    z-index: 10;

    &:focus {
        top: 0;
        box-shadow: $ds44-boxShadow;
    }
}

.ds44-header {
    min-height: $header-height-large;
    max-height: $header-height-medium;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 900;
    width: 100%;
    background-color: $ds44-light;
    visibility: visible;
    opacity: 1;
    transition: visibility $ds44-timing-standard ease, opacity $ds44-timing-standard ease, margin-top $ds44-timing-standard ease;

    &.collapsed {
        margin-top: -100px;
        opacity: 0;
        visibility: hidden;
        transition: visibility $ds44-timing-standard ease, opacity $ds44-timing-standard ease, margin-top $ds44-timing-standard ease;
    }

    .ds44-blocBandeau {
        margin-left: 5.5%; /* Aligner sur le body */
    }

    .ds44-colRight {
      min-height: $header-height-large;
    }
}

/* Bandeau */

.ds44-headerImg {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* MDPH Site Handicap header */
.mdph-logo {
  &--tablet {
    display: none;
  }
}

.ds44-subMenu {
    position:fixed;
    background: $ds44-light-color;
    display:none;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.35);
    width: 35rem;
    &.full {
        width: auto;
    }
    &.view {
        display:block;
        opacity: 1;
        pointer-events: all;
    }
    &#subMenu-choixLangue {
        text-align: left;
        width: 12rem;
    }
    .ds44-list {
        padding: 2rem;
        li {
            &:last-child {
                padding-bottom: 0;
            }
            padding-bottom: 3rem;
        }
        a {
            font-size: 1.2em;
            text-decoration: none;
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Musée Dobrée Header */
.dobree-header {
    min-height: inherit;
    background: $ds44-light;
    .ds44-colRight {
      min-height: inherit;
      > * {
          margin-right: -4px;
      }
      .ds44-btn--menu:focus-visible.ds44-btn--contextual,
      #open-menu:focus-visible {
          border: 1px solid blue;
      }
      .choixLangue {
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0);
          color: $ds44-dark ;
          padding: 1rem;
          margin: 0 3rem;
      }
    }
}
.dobree-header .ds44-logoContainer img {
  margin-left: 4em;
}
.dobree-header.ds44-header .ds44-colRight {
  min-height: inherit;
  flex: auto;
}

.dobree-listAccessibility {
    vertical-align: middle;
        > div {
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.06);
            color: $ds44-dark ;
            transition: all ease-in-out .25s;

            a {
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 1);
                color: $ds44-dark ;
            }

            ul.ds44-list {
                margin-bottom: 0;
                li {
                    margin: 0 5px;
                }
            }
        }
}
/* Musée Dobrée Header Homepage vidéo */
.dobree-header.containerVideo {
    background: none;
    .ds44-colRight .dobree-listAccessibility > div {
        background-color: rgba(0, 0, 0, 0.6);
        color: $ds44-light ;

        a {
            color: $ds44-light ;
        }
    }
     .ds44-logoContainer img {
      display: none;
    }
    .choixLangue {
        background-color: rgba(0, 0, 0, 0.6);
        color: $ds44-light ;
    }
    .ds44-subMenu {
        background-color: rgba(0, 0, 0, 0.6);
        &#subMenu-choixLangue a {
            color: $ds44-light ;
        }
    }
}






/* --------------- */
/* Medium screens */
/* ------------ */

@media (max-width: $ds44-large - .0625) {

    .ds44-headerImg {
        min-height: 260px;
    }

    .ds44-logoContainer {
        flex-wrap: wrap;
    }

    .ds44-header .ds44-colRight .ds44-btnIcoText--maxi .icon::before {
        min-height: 30px;
        font-size: 5rem;
    }

    // when reduced, header column right and buttons gain flex display
    .ds44-header {
        min-height: $header-height-medium;
        padding: 0;
        left: 0;
    }
   .ds44-header.dobree-header {
        min-height: 5.8rem ;
    }

    .ds44-header .ds44-colRight {
        display: flex;
        justify-content: flex-end;
        min-height: $header-height-medium;

        .ds44-btnIcoText--maxi {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            position: relative;
            margin: 0 0 0 1rem;
            min-width: 0;
            align-items: center;
            line-height: 1.2;
            padding: $ds44-padding-xlarge  $ds44-padding-large;

            .icon + .ds44-btnInnerText,
            .ds44-btnInnerText + .icon,
            .icon + .icon {
                margin-left: 0;
            }

            .ds44-btnInnerText {
                position: relative;
                white-space: nowrap;
            }

            &[data-open-sub-menu] {
                .icon-toggle {
                    display:none;
                }
            }
        }

    }

    .ds44-subMenu {
        .ds44-list {
            li {
                padding-bottom: 1rem;
            }
            a {
                font-size: 1em;
            }
        }
    }

    .dobree-header .ds44-colRight .ds44-btnIcoText--maxi {
      flex-direction: row;
      margin: 0 ;
      padding: 1em 2rem ;

      .ds44-btnInnerText + .icon, .icon + .icon {
        margin-left: 1.5rem;
      }
    }
    .dobree-header .ds44-logoDobree img {
          margin-left: 1em;
          height: 59px;
    }




}

@media (max-width: $ds44-medium - .0625) {


    .ds44-logoContainer {
        flex-wrap: wrap;
    }

    .ds44-headerImg {
        min-height: 245px;
    }

    .ds44-rsHeadLink {
        padding-left: 0;
    }

    .ds44-header .ds44-blocBandeau {
        margin: 0 1rem;
    }

    /* MDPH Site Handicap header */
    .mdph-logo {
      display: none;

      &--tablet {
        display: block;
      }
    }


}

/* -------------- */
/* small screens */
/* ------------ */

@media (max-width: $ds44-small - .0625) {


  .ds44-logoContainer {
      flex-direction: column;
      flex-wrap: nowrap;


      img {
          height: 35px;
          max-width: none;
      }

      .ds44-titreLogo {
          margin-left: 0;
          margin-top: .5rem;
          text-align: center;
          font-size: .5625em;
      }

  }

  .ds44-overlay--navFromBottom.ds44-wave-grey {
      background: #fff;
  }

  .ds44-header .ds44-colRight {

    min-height: $header-height-small;

      .ds44-btnIcoText--maxi {
          margin-left: 0;

          &.ds44--xl-padding {
              padding: .5rem 1rem 1rem 1rem;
          }

          &.ds44-btn--menu {
              padding: .5rem 1rem 1rem 1rem;
          }
          &[data-open-sub-menu] {
            .icon-toggle {
                display:none;
            }
          }
      }
  }

  .ds44-header {
      min-height: $header-height-small;
  }

  .ds44-header.dobree-header .ds44-colRight .ds44-btnIcoText--maxi.ds44-btn--menu {
   padding: 1em;

    .ds44-btnInnerText {
     font-size: 1.4rem;
   }
   .icon-long-arrow-right {
      margin-left: 0.5rem ;

      &::before {
         font-size: 1em !important;
       }
    }
    .icon-burger {
       margin-left: 0.5rem ;
     }


 }


}

@media (max-width: $ds44-tiny - .0625) {

    .ds44-logoContainer .mdph-logo--tablet img {
        width: 100%;
    }

    .ds44-header .ds44-colRight {

        .ds44-btnIcoText--maxi {
            margin-left: 0;

            &.ds44--xl-padding {
                padding: .5rem .5rem 1rem .5rem;
            }

            &.ds44-btn--menu {
                padding: .5rem .5rem 1rem .5rem;
            }
        }
    }

}



/* Media Queries Print / Impression */
@media print {

  main {
    padding: 0;
  }

  .ds44-header {
    position: inherit !important;
    margin-top: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;

    .ds44-colLeft {
      text-align: center;
      display: block !important ;
    }
    .ds44-colRight {
      display: none !important;
    }

  }

}
