/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-menuBox, .ds44-searchBox {
    text-align: left;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: inline;
}

.ds44-navContainer {
    min-height: 100%;

    > .ds44-inner-container {
        overflow-y: auto;
        max-height: 70vh;
    }

}

.ds44-rsHeaderContainer {
    width: 100%;
}

.ds44-navListN2 {
    list-style: none;
    margin-top: 0;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

.ds44-menuBtn {
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    position: inherit;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;

    .icon {
        float: right;
        margin: 0 1.5rem;
        vertical-align: text-top;
        transition: margin ease-in-out $ds44-timing-standard;
        will-change: margin;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        margin: 0 0 0 3rem;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-large-vmargin; // 20px
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    padding-left: $ds44-padding-box; // 1.5rem;
    padding-right: $ds44-padding-box; // 1.5rem;
    font-size: 1.4em;
}

.ds44-container-menuBackLink {
    margin: 3rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.ds44-menuBackLink {
    @include ds44-font-sizes(menuBackLinks);
    font-weight: bold;
    font-family: $ds44-font-family-headings;
    display: inline-block;
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: inherit;

    .icon {
        margin-left: 1rem;
        margin-right: 1rem;
        vertical-align: text-top;
        opacity: 0;
        transition: all ease-in-out $ds44-timing-standard;
        will-change: margin-left, opacity;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        opacity: 1;
        margin-left: 2rem;
        margin-right: 0rem;
    }
}

.ds44-navListApplis {
    margin-top: 15rem;

    li {
        padding-left: $ds44-padding-box;
    }
}

.ds44-menuApplisTitle {
    @include ds44-font-sizes(h4);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    background: transparent;
    font-weight: bold;

    &::after {
        padding-bottom: 2rem!important;
    }
}

// Separator
.ds44-navSep {
  border: 1px solid $ds44-color-dark-text;
  margin: $ds44-container-vmargin 0;
  width: 100%;
}

// Stepper
.ds44-nav-stepper {
  margin: 2rem 0;
  width: 100%;

  li {
    margin-bottom: 0;
  }

  .ds44-nav-step {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;

    a, p {
      text-decoration: none;
      display: inline-block;
      margin: 0;

      .number {
        border-radius: 3px;
        display: block;
        width: 33px;
        height: 33px;
        text-align: center;
        font-weight: bold;
        padding: 5px 0;
        margin: 0 auto;

        .icon {
          line-height: 1;
        }
      }
      .text {
        margin-top:5px;
        font-size: 22px;
        display: block;
        font-weight: bold;
      }

      &.active {
        .number {
          background-color: $ds44-background-dark;
          color: $ds44-color-inverse;
        }
        .text {
          color: $ds44-color-base;
        }
      }
      &.inactive {
        .number {
          background-color: $ds44-color-inverse;
          border: 1px solid #cccccc;
          color:  $ds44-color-base;
        }
        .text {
          color: $ds44-gray;
        }
      }
      &.passed {
        .number {
          background-color: $ds44-contextual-color;
          color:  $ds44-color-base;
        }
        .text {
          color: $ds44-gray;
        }
        &:focus,
        &:hover,
        &:active {
          .number {
            background-color: $ds44-contextual-hover!important;
            box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
            color: $ds44-color-base;
          }
          .text {
            color: $ds44-color-base;;
          }
        }
      }
      &:after {
        margin: 0;
        padding: 0;
      }
    }
    &:after  {
      content: '';
      width: 65%;
      height: 2px;
      background: $ds44-lightgray;
      display: flex;
      margin-top: 6px;
      position: absolute;
      top: 10px;
      right: -35%;
    }
    &.liPassed {
      &:after  {
        background: $ds44-background-dark;
      }
    }
    &:last-of-type {
      &:after  {
        display: none;
      }
    }
  }
}


// -------------
//   TABLETTE
// ----------

@media (min-width: $ds44-medium) and (max-width: $ds44-extra-large)  {

    .ds44-navListN2 {
        margin: 0 $ds44-container-vmargin $ds44-components-vmargin $ds44-container-vmargin;
    }

    .ds44-navListApplis {
        padding-left: 2.5rem;
    }

}


@media (min-width: $ds44-medium) and (max-width: $ds44-large - .0625)  {

    .ds44-container-menuBackLink {
        margin: 1rem 1rem 1rem 2rem;
        width: calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    .ds44-navListApplis {
        margin-left: $ds44-large-margin;
        margin-top: 10rem;
    }

}

// ----------
//   MOBILE
// ----------

@media (max-width: $ds44-medium - .0625) {

    .ds44-navListN2 {
        margin-top: $ds44-components-vmargin;
    }

    .ds44-rsHeadLink {
        margin: $spacer-small-plus; // 1.5rem;
        padding-left: 0;
    }

    .ds44-container-menuBackLink {
        margin: 1rem 1rem 1rem 2rem;
        width: calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    .ds44-menuApplisTitle {
        &::after {
            padding-bottom: 1rem!important;
        }
    }

    .ds44-menuBackLink {
        margin-top: .8rem;
        width: calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
        line-height: 1.1;
    }

    .ds44-menuLink {
        margin-bottom: $ds44-medium-vmargin;
    }

    .ds44-navList {
        margin-left: 0;
        margin-right: 0;
    }

    .ds44-navSep {
      margin: $ds44-components-vmargin 0;
    }

    li:first-child .ds44-menuBtn {
        margin-top: 0;
    }

    .ds44-btn-backOverlay {
        vertical-align: top;
        margin: 0;
        padding: 0 $ds44-padding-medium;
    }

    .ds44-navListApplis {
        margin-left: $ds44-large-margin;
        margin-top: 8rem;
    }

    // Stepper
    .ds44-nav-stepper {
      margin: 2rem 0;
      width: 100%;
      flex-direction: column;

      .ds44-nav-step {
        text-align: left;
        margin: 10px 0;
        a, p {
          text-decoration: none;
          display: inline-block;

          .number {
            display: inline-block;
            padding: 5px 0;
            margin: 0 auto;
          }
          .text {
            display: inline-block;
            margin: 0 0 0 10px;
          }

        }

        &:after {
          display: none;
        }
      }
    }

}

@media (max-width: $ds44-tiny - .0625) {

    .ds44-btn-backOverlay {
        text-align: left;
    }

    .ds44-navListApplis {
        > li {
            padding-left: 0;
        }
    }

    .ds44-navContainer {

        padding-top: $ds44-components-vmargin*2.5;

        > .ds44-inner-container {
            max-height: 100%;
        }

    }

    .ds44-menuBtn {
        padding-right: 4rem;
        position: relative;

        .icon {
            right: .5rem;
            position: absolute;
            top: 0;
            margin: 0;
        }
    }

    .ds44-navListN2 {
        margin-top: $ds44-margin-base;
        margin-left: $ds44-large-margin;
        margin-right: $ds44-large-margin;
    }

}

@media (min-width: $ds44-large) and (max-width: $ds44-max-size) {

    .ds44-navContainer > .ds44-inner-container {
        max-width: 90%;
    }

}
