/* ----------------------------- */
/* ==Navigation full page        */
/* ----------------------------- */

.ds44-menuBox, .ds44-searchBox {
    text-align: left;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: inline;
}

.ds44-navContainer {
    min-height: 100%;

    > .ds44-inner-container {
        overflow-y: auto;
        max-height: 70vh;
    }

}

.ds44-rsHeaderContainer {
    width: 100%;
    margin-bottom: $ds44-large-vmargin;
}

.ds44-navListN2 {
    list-style: none;
    margin-top: 0;
    margin-bottom: $ds44-components-vmargin;
    column-rule: 2px solid #000000;
}

.ds44-menuBtn {
    @include ds44-font-sizes(menuHeaders);
    font-family: $ds44-font-family-headings;
    font-weight: bold;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    position: inherit;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: left;
    text-decoration: none;

    .icon {
        float: right;
        margin: 0 1.5rem;
        vertical-align: text-top;
        transition: margin ease-in-out $ds44-timing-standard;
        will-change: margin;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        margin: 0 0 0 3rem;
    }
}

.ds44-menuLink {
    @include ds44-font-sizes(menuLinks);
    text-decoration: none;
    margin-bottom: $ds44-large-vmargin; // 20px
    display: block;
}

.ds44-rsHeadLink {
    display: block;
    padding-left: $ds44-padding-box; // 1.5rem;
    padding-right: $ds44-padding-box; // 1.5rem;
    font-size: 1.4em;
}

.ds44-container-menuBackLink {
    margin: 3rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.ds44-menuBackLink {
    @include ds44-font-sizes(menuBackLinks);
    font-weight: bold;
    font-family: $ds44-font-family-headings;
    display: inline-block;
}

.ds44-menuLink, .ds44-menuLink--subLvl {
    position: inherit;

    .icon {
        margin-left: 1rem;
        margin-right: 1rem;
        vertical-align: text-top;
        opacity: 0;
        transition: all ease-in-out $ds44-timing-standard;
        will-change: margin-left, opacity;

        &::before {
            line-height: .7;
        }
    }

    &:hover .icon, &:focus .icon, &:active .icon {
        opacity: 1;
        margin-left: 2rem;
        margin-right: 0rem;
    }
}

.ds44-navListApplis {
    margin-top: 15rem;

    li {
        padding-left: $ds44-padding-box;
    }
}

.ds44-menuApplisTitle {
    @include ds44-font-sizes(h4);
    @if variable_exists(ds44-font-family-headings) and $ds44-font-family-headings != $ds44-font-family-base{
      font-family: $ds44-font-family-headings;
    }
    background: transparent;
    font-weight: bold;

    &::after {
        padding-bottom: 2rem!important;
    }
}

// Separator
.ds44-navSep {
  border: 1px solid $ds44-color-dark-text;
  margin: $ds44-container-vmargin 0;
  width: 100%;
}

// Stepper
.ds44-nav-stepper {
  margin: 2rem 0;
  width: 100%;

  li {
    margin-bottom: 0;
  }

  .ds44-nav-step {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;

    a, button, div {
      text-decoration: none;
      display: inline-block;
      margin: 0;

      .number {
        border-radius: 3px;
        display: block;
        width: 33px;
        height: 33px;
        text-align: center;
        font-weight: bold;
        padding: 5px 0;
        margin: 0 auto;

        .icon {
          line-height: 1;
        }
      }
      .text {
        margin-top:5px;
        font-size: 22px;
        display: block;
        font-weight: bold;
      }

      &.active {
        .number {
          background-color: $ds44-background-dark;
          color: $ds44-color-inverse;
        }
        .text {
          color: $ds44-color-base;
        }
      }
      &.inactive {
        .number {
          background-color: $ds44-color-inverse;
          border: 1px solid #cccccc;
          color:  $ds44-color-base;
        }
        .text {
          color: $ds44-gray;
        }
      }
      &.passed {
        .number {
          background-color: $ds44-contextual-color;
          color:  $ds44-color-base;
        }
        .text {
          color: $ds44-gray;
        }
        &:focus,
        &:hover,
        &:active {
          .number {
            background-color: $ds44-contextual-hover!important;
            box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.35);
            color: $ds44-color-base;
          }
          .text {
            color: $ds44-color-base;;
          }
        }
      }
      &:after {
        margin: 0;
        padding: 0;
      }
    }
    &:after  {
      content: '';
      width: 65%;
      height: 2px;
      background: $ds44-lightgray;
      display: flex;
      margin-top: 6px;
      position: absolute;
      top: 10px;
      right: -35%;
    }
    &.liPassed {
      &:after  {
        background: $ds44-background-dark;
      }
    }
    &:last-of-type {
      &:after  {
        display: none;
      }
    }
  }
}

/* Musée Dobrée Header Menu */
.dobree-menu.ds44-blocMenu .ds44-multiCol3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  display: block;
  padding: 3em 0;

  > div {
      overflow: auto;
      padding:0 4rem;

      &:nth-child(2) {
          border-left : 1px $ds44-color-base solid;
          border-right : 1px $ds44-color-base solid;
      }
      .ds44-navListN2 {
          margin-bottom: 0;
      }
  }
}

.dobree-menu.ds44-blocMenu .ds44-multiCol4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  display: block;
  padding: 3em 0;

  > div {
      overflow: auto;
      padding:0 4rem;

      &:nth-child(2) {
          border-left : 1px $ds44-color-base solid;
          border-right : 1px $ds44-color-base solid;
      }
      &:nth-child(3) {
        border-right : 1px $ds44-color-base solid;
    }
      .ds44-navListN2 {
          margin-bottom: 0;
      }
  }
}

.dobree-menu.ds44-blocMenu {
    .ds44-navContainer {
      padding-top: 0rem;

      & > .ds44-inner-container {
          max-height: inherit;
        }
    }
    .ds44-logoContainer img {
         display: block;
         margin: 0 0 0 4em;
       }
       .ds44-colLeft {
          flex: 2 1;
        }
        .ds44-colRight {
               margin-right: 10em;
         }

  .h3-like {
      font-family: $ds44-font-family-baseModern;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 1em;
  }
  .ds44-menuLink {
      font-family: $ds44-font-family-baseModern;
      font-size: 1em;
      margin-bottom: 1rem;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 4px;
        background: $ds44-color-base;
        margin-left: -15px;
        position: absolute;
        top: 8px;
        transition: all ease-in-out .25s;
        opacity: 0;
      }
      &:hover, &:focus {
          &::before {
            opacity: 1;
          }
      }
  }
  &.mobile {
      .ds44-logoContainer img {
              height: 62px;
              margin: 0;
          }
    #subMenu-choixLangue, #subMenu-choixLangueMobile {
        top : 6rem;
        right: 6rem !important;
        width: 20rem;
        z-index: 1;
    }

    .ds44-collapser {
        margin: 0;
    }
    .ds44-collapser_button {
        font-family: $ds44-font-family-baseModern;
        font-size: 20px;
        font-weight: 700;
        color: $ds44-dark !important;

        > * {
            color: $ds44-dark !important;
        }
    }
    .ds44-collapser_content {
      background-color: transparent;
      ul {
          padding-top: 0;
          .ds44-collapser_content--link {
              padding: 0rem 1rem 0rem 3rem;
              font-size: 14px;
            }
      }
    }
    .dobree-listAccessibility > div{
        background-color: rgba(255, 255, 255, 0.4);
        color: $ds44-dark;
    }
  }
  //Zoom à 200% passe le menu visible entièrement
  @media (-webkit-device-pixel-ratio: 4) {
  .ds44-navContainer > .ds44-inner-container  {
    max-height: inherit;
  }
}


.mobile {
  .ds44-collapser_content {
    background-color: transparent;
  }

  ul .ds44-collapser_content--link {
    padding: 0rem 1rem 0rem 3rem;
    font-size: 14px;
  }

  .dobree-listAccessibility > div {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
  }

  .ds44-collapser_button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
  .ds44-logoContainer img {
    height: 62px;
    margin: 0;
  }
}


#subMenu-choixLangue, #subMenu-choixLangue-mobile {
  top : 6rem;
  right: 6rem !important;
  width: 20rem;
  z-index: 1;
}
#subMenu-choixLangueMobile {
  a {
    color: $ds44-dark;
  }
}


.ds44-navList.align-first-col-title div:first-child {
  margin-top: -5px;
}

}
.dobree-menu.ds44-blocMenu .dobree-blocVousEtes {
    background-color: $ds44-lightgray ;
    padding: 5em 0;

    .ds44-multiCol5 {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
      display: block;

      > div {
          overflow: auto;
          padding:0 4rem;

          .ds44-navListN2 {
              margin-bottom: 0;
          }

      }
    }
}






// -------------
//   TABLETTE
// ----------

@media (min-width: $ds44-medium) and (max-width: $ds44-extra-large)  {

    .ds44-navListN2 {
        margin: 0 $ds44-container-vmargin $ds44-components-vmargin $ds44-container-vmargin;
    }

    .ds44-navListApplis {
        padding-left: 2.5rem;
    }

    .dobree-menu.ds44-blocMenu  .ds44-navListN2 {
        margin: 0 ;
    }

}


@media (min-width: $ds44-medium) and (max-width: $ds44-large - .0625)  {

    .ds44-container-menuBackLink {
        margin: 1rem 1rem 1rem 2rem;
        width: calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    .ds44-navListApplis {
        margin-left: $ds44-large-margin;
        margin-top: 10rem;
    }

}

// ----------
//   MOBILE
// ----------

@media (max-width: $ds44-medium - .0625) {

    .ds44-navListN2 {
        margin-top: $ds44-components-vmargin;
    }

    .ds44-rsHeadLink {
        margin: $spacer-small-plus; // 1.5rem;
        padding-left: 0;
    }

    .ds44-container-menuBackLink {
        margin: 1rem 1rem 1rem 2rem;
        width: calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    .ds44-menuApplisTitle {
        &::after {
            padding-bottom: 1rem!important;
        }
    }

    .ds44-menuBackLink {
        margin-top: .8rem;
        width: calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
        line-height: 1.1;
    }

    .ds44-menuLink {
        margin-bottom: $ds44-medium-vmargin;
    }

    .ds44-navList {
        margin-left: 0;
        margin-right: 0;
    }

    .ds44-navSep {
      margin: $ds44-components-vmargin 0;
    }

    li:first-child menuHeaders {
        margin-top: 0;
    }

    .ds44-btn-backOverlay {
        vertical-align: top;
        margin: 0;
        padding: 0 $ds44-padding-medium;
    }

    .ds44-navListApplis {
        margin-left: $ds44-large-margin;
        margin-top: 10rem;
    }

    // Stepper
    .ds44-nav-stepper {
      margin: 2rem 0;
      width: 100%;
      flex-direction: column;

      .ds44-nav-step {
        text-align: left;
        margin: 10px 0;
        a, button, div {
          text-decoration: none;
          display: inline-block;

          .number {
            display: inline-block;
            padding: 5px 0;
            margin: 0 auto;
          }
          .text {
            display: inline-block;
            margin: 0 0 0 10px;
          }

        }

        &:after {
          display: none;
        }
      }
    }
    .dobree-menu .ds44-fieldContainer.ds44-small-fg1 {
        text-align: center;
        > .ds44-btnStd {
              width: auto;
            }
    }



}

@media (max-width: $ds44-tiny - .0625) {

    .ds44-btn-backOverlay {
        text-align: left;
    }

    .ds44-navListApplis {
        > li {
            padding-left: 0;
        }
    }

    .ds44-navContainer {

        padding-top: $ds44-components-vmargin*2.5;

        > .ds44-inner-container {
            max-height: 100%;
        }

    }

    .ds44-menuBtn {
        padding-right: 4rem;
        position: relative;

        .icon {
            right: .5rem;
            position: absolute;
            top: 0;
            margin: 0;
        }
    }

    .ds44-navListN2 {
        margin-top: $ds44-margin-base;
        margin-left: $ds44-large-margin;
        margin-right: $ds44-large-margin;
    }

}

@media (min-width: $ds44-large) and (max-width: $ds44-max-size) {

    .ds44-navContainer > .ds44-inner-container {
        max-width: 90%;
    }

}
